*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000c0a;
}

nav{
    border: 2px solid;
    padding-block: .8rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

nav>a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 13px;
}
nav>a:first-child{
    font-weight: 600;
    color: #106854;
    margin-top: 9px;
    padding-bottom: .5rem;
    border-bottom: 2px solid #106854;
}

nav>button{
    background-color: #27e1b6;
    border: none;
    padding: .4rem 1rem;
    color: #fff;
    border-radius: 9px;
}
.banner{
    max-width: 800px;
    margin: 3rem auto;
    color: #dddfdf;
    display: flex;
    /* gap:7rem; */
    justify-content: space-between;
}

/*  */
.bannerContent{
width: 43%;
}
.bannerContent>h1{
    text-transform: uppercase;
    font-size: 2.3rem;
    width: 450px;
}
.bannerContent>h1>span{
    color: #27e1b6;
}

.bannerContent>p{
    font-size: 12px;
    color: #8b9190;
    margin-block: .5rem;
}

.bannerContent>button{
    background-color: #27e1b6;
    padding: .3rem 1.2rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-transform: capitalize;
}

form{
    width: 250px;
    padding: 2rem;
    border: 1px solid grey;
    background-color: #ffffff05;
    border-radius: 15px;
}

.btn{
    display: flex;
    gap: 5px;
}

.btn>button{
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    border: none;
    text-transform: capitalize;
    color: #fff;
    padding: .3rem 2.6rem;
    background-color: #27e1b6;
}

.inputBox{
    margin-top: 1rem;
}

.inputBox>label{
    margin-bottom: 5px;
    font-size: 10px;
    gap: 3px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.fa-asterisk{
    font-size: 5px;
    color: #27e1b6;
}

.inputBox>select{
    background-color: transparent;
    width: 100%;
    border-radius: 7px;
    padding: .2rem 7px;
    color: #fff;
    font-size: 8px;
    text-transform: capitalize;
}

.innerInput{
    display: flex;
}

.innerInputBox>input{
    border: 1px solid gray;
    width: 100%;
    background-color: transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: .2rem;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize;
}
.innerInputBox>input::placeholder{
    font-size: 8px;
    font-weight: 600;
    padding-left: 7px;
}
.innerInputBox>select{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .2rem;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize;
    background-color: #27e1b6;
}
.innerInputBox>section{
    font-size: 7px;
    text-transform: uppercase;
}

form>button{
    background-color: #27e1b6;
    width: 100%;
    margin-block: 1rem;
    padding: .4rem;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
}